# pip packages for Scoop Archive (python / pro variants)
# Last synced: 2026-05-15 from ScoopArchivPython.yaml

sqlmap
beautifulsoup4
bs4
XlsxWriter
tqdm
python-libnmap
pyDes
pipx
openpyxl
tldextract
colorama
rncryptor
pandas
requests
pycryptodome
chardet
pocsuite
qrcode
accelerate
androguard
docx2pdf
docx2txt
colorlog
dsinternals
flask
gradio
ldapdomaindump
simplejson
python-magic
python-docx
pysocks
pycryptodomex
pyopenssl
pyreadline
gitpython
PyYAML
click
retry
argparse
frida
frida-tools
certifi
cryptography
ffmpy
gradio-client
numpy
orjson
pydantic_core
smmap
starlette
tomlkit
typer
typing-extensions
uvicorn
websockets
uv
